# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
tester
seeder
bad_fgets
cpt220_menu_system
.nfs000000000685d2d4000002e3
cpt220_menu_system
correct_poker
poker
fgetc_1
fgets
fgets_1
fgets_2
fopen_1
fopen_2
fputc_1
fputs_1
fread_1
fwrite_1
fwrite_2
getInteger
printf
putchar
puts
fgets_1
personlist
getInteger-advanced
getInteger-basic
test_fgets
file_funcs
strtodate
printf_warning
implicit_conversion
implicit_conversion_sol
incrementchar
test
testint
hello
academic_results
addup
dowhile
enumtostring
for_while
powers
switch_without_break
prototype
prototype_fixed
size
string
swap
switch
switch2
while
times_table
union
unsigned_wrap
whileglt
counter
continue
char_loop
atoi_example
is_int
matrix_add
overflow
scanf_int
scanf_string
size
sscanf_examp
strtok_example
strtol_example
const_ptr
counter
enumtostring
prototype
prototype_fixed
ctype_example
read_rest_of_line
swap
memset
iterator
getname
random
binary
difftime
factorial
fibonacci
iter_fact
iter_fibo
recursiveprint
recursiverandom
reverseprint
settime
simpletime
tm_examp
bubble_improved
shaker
shell
sorter
add_spaces
every_other
phonebk_strtok
phonebk_sscanf
backwards
envir
convert
reader
segfault1
notinit
conditional1
isprint_test
segfault2
overflow
shadow
invalid_return
badrecursion
staticptr
s_malloc
s_calloc
s_dbl_malloc
s_realloc
personlist
getchars_debug
getchars_nodebug
funcptr1
personlist
pointer_addresses
matrix
list
counter
staticptr
portable
static_examp
personlist
gen_convert
double_sort
double_search
wrong_swap
right_swap
for_each_int
for_each
generic_list
tryswap
question1
filesize
forever
personlist
personlist
walk
array_diff
person
menu
pers
walk
random
size
args
add_nums
account_list
gets
range
splitter
name
fgets
funcptrs
q1
list
strcpyexamp
array_walk
personlist
random
wk5q3
args
setmemory
strtok
account_list
draughts
macroadd
switch
pair
enum_init
sumup
accountlist
personlist
exam
.*.swp
